body {
    background-color: #eaeaea;
    font-family: 'Georgia';
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    color: #333;;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    text-shadow:  0 4px 6px rgba(4, 4, 4, 0.2);;
}

.button-container {
    background-color:  rgba(255, 255, 255, 0.2);
    color: #333;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.25s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.6);
  }

button:focus {
    outline: none;

}